@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular);
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

body {
	font-family: 'Montserrat';
}

hr {
	display: block;
	width: 100%;
	height: 1px;
	border: 0;
	background-color: #e5e5e5;
	margin: 40px 0;
}

.intro {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url(/img/sport.jpg) center no-repeat;
	background-size: cover;
}

.intro__inner {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

.intro__title {
	color: #fff;
	font-size: 150px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	justify-content: center;
}
.btn {
	margin-top: 150px;
}
.intro__title:after {
	content: '';
	display: block;
	width: 60px;
	height: 3px;
	background-color: #fff;
	margin: 60px auto;
}

.intro__suptitle {
	margin-bottom: 15px;
	font-family: 'Kaushan Script';
	font-size: 72px;
	text-align: center;
	color: #fff;
}

.slider {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	margin-bottom: 35px;
}

.slider__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.slider__item {
	position: relative;
	width: 280px;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	opacity: 0.7;
	padding: 28px 0px;
	border-top: 4px solid #fff;
}
.slider__item .slider__num {
	font-size: 24px;
	font-weight: 700;
}
.slider__item .active {
	opacity: 1;
}
.slider__item .active::before {
	position: absolute;
	width: 70px;
	background-color: red;
	top: -3px;
	left: 0;
	z-index: 1;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding-top: 30px;
}

.header__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__logo {
	font-family: 'Montserrat';
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

.nav {
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Montserrat';
	font-weight: 400;
}

.nav__link {
	color: #fff;
	text-decoration: none;
	-webkit-transition: color 0.1s linear;
	transition: color 0.1s linear;
	margin: 0 15px;
	position: relative;
}
.nav__link:hover {
	color: #fce38a;
}
.nav__link:after {
	content: '';
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 3px;
	background: #fce38a;
	top: 100%;
	left: 0;
	z-index: 1;
	-webkit-transition: opacity 0.1s linear;
	transition: opacity 0.1s linear;
}
.nav__link:hover::after {
	opacity: 1;
}

.btn {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	padding: 12px 30px;
	border: 3px solid #fff;
	-webkit-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear;
	margin-bottom: 150px;
	-webkit-transition: background 0.2s linear, color 0.2s linear;
	transition: background 0.2s linear, color 0.2s linear;
}
.btn:hover {
	background: #fce38a;
	color: #000;
}

.section {
	text-align: center;
	padding: 110px 0;
}
.section.section--devices {
	padding-bottom: 0;
	margin-bottom: 40px;
	background: url(/img/serbg.jpg) center no-repeat;
	background-size: cover;
}

.section__header {
	margin-bottom: 50px;
}

.section__suptitile {
	font-family: 'Kaushan Script';
	font-size: 24px;
	margin-bottom: 25px;
}

.section__title {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
}
.section__title:after {
	content: '';
	display: block;
	width: 60px;
	height: 3px;
	background-color: #f38181;
	margin: 35px auto;
}

.section__text {
	font-family: 'Roboto';
	opacity: 0.7;
	max-width: 961px;
	display: inline-block;
	text-align: left;
}
span {
	margin-left: 30px;
}
.section__text p {
	line-height: 20px;
}

.about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.about__item {
	position: relative;
	width: 380px;
	background-color: #95e1d3;
	margin-bottom: 108px;
}
.about__item:hover .about__image {
	-webkit-transform: translate3d(-10px, -10px, 0);
	transform: translate3d(-10px, -10px, 0);
}
.about__item:hover .about__image img {
	opacity: 0.1;
}
.about__item:hover .about__text {
	opacity: 1;
}

.about__image {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#f38181),
		to(#fce38a)
	);
	background: linear-gradient(to bottom, #f38181, #fce38a);
	-webkit-transition: -webkit-transform 0.2s linear;
	transition: -webkit-transform 0.2s linear;
	transition: transform 0.2s linear;
	transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.about__image img {
	display: block;
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.about__text {
	width: 100%;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	top: 50%;
	left: 0;
	opacity: 0;
	position: absolute;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.statistic {
	background-color: #95e1d3;
}

.stat {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.stat__item {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0px;
	flex: 1 1 0;
	border-left: 2px solid #b5eae0;
	text-align: center;
	color: #fff;
	padding: 70px 25px;
}
.stat__item:last-child {
	border-right: 2px solid #b5eae0;
}

.stat__number {
	font-size: 72px;
	font-weight: 700;
	margin-bottom: 29px;
}

.stat__text {
	font-size: 14px;
	text-transform: uppercase;
}

.services {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.services__item {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0px;
	flex: 1 1 0;
	padding-left: 70px;
	padding-right: 50px;
	position: relative;
}
.services__item.services__item-bottom {
	margin-bottom: 110px;
}

.services__icon {
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 1;
}

.services__title {
	font-size: 18px;
	text-transform: uppercase;
	color: #333;
	margin-bottom: 10px;
	text-align: left;
}

.services__text {
	font-size: 15px;
	color: #999;
	font-family: 'Roboto';
	text-align: left;
}

.devices {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
}

.devices__item {
	display: block;
}

.devices__item--iphone {
	position: absolute;
	bottom: -80px;
	right: 0;
	z-index: 1;
}
